---
import Header from "../components/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Estética</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/img/logoimg.png" type="image/x-icon" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
